.footer {
  background-color: $color-dark;
  padding-top: 3 * $gap;
  padding-bottom: 7 * $gap;
}
.footer-container {
  @extend %container;
}
.footer-header  {
  text-align: center;
  h2  {
    color: $color-primary;
    font-size: 2rem;
  }
  p  {
    color: $color-gray;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: -12px 60px 42px;
  }
}
.footer-form  {
  display: grid;
  gap: $gap;
  @include sm  {
    grid-template-columns: 1fr;
    margin: 0 0 $gap;
  }
  @include md-sm  {
    grid-template-columns: 1fr  127px;
    margin: 0 0 $gap;
  }
  @include lg-md  {
    grid-template-columns: 1fr  127px;
    margin: 0 4*$gap 2*$gap;
  }
  @include lg-min  {
    grid-template-columns: 1fr  127px;
    margin: 0 5*$gap 3.5*$gap;
  }
  input  {
    padding: 16px 22px;
    @extend %form-components;
  }
  button  {
    @extend %form-components;
    cursor: pointer;
    background-color: #ffd700;
    font-weight: 700;
  } 
}