.footer {
    text-align: center;
    background-color: $color-primary;
    padding: ($gap * 2.5) $gap ($gap * 3.5);
    &__container  {
      @extend %container;  //берём свойства для дефолтных контейнеров из плейсхолдерного селектора %container
    }
    &__networks {
      justify-content: center;  //горизонтальное выравнивание
      position: relative; //положение элемента устанавливается относительно его исходного места
      margin-bottom: $gap * 2;
      display: grid;
      /*
      --ОПРЕДЕЛЕНИЕ ПОЛОЖЕНИЯ ВЕРТИКАЛЬНЫХ ЭЛЕМЕНТОВ СЕТКИ--
      функция repeat указывает использовать одно и то же значение для всех колонок
      свойство auto-fit меняет используемое число колонок в зависимости от ширины каждой из них
      max-content - наименьший возможный размер ячейки, при котором содержимое умещается в ней свободно
      если max-content становится меньше 50px, то функция minmax возвращает значение 50px
      */
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));  

      // полоска-разделитель
      &::after {
        position: absolute;
        bottom: -$gap;
        left: calc(50% - 75px / 2);
        width: 75px;
        height: 2px;
        content: "";
        background-color: rgba($color-light, 0.1);
      }
      a  {
        display: block;
        padding: $gap / 2;
        transition: color 0.5s;
        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
    }
    .fab  {
      font-size: 36px;
    }
    &__copyright  {
      span  {
        &:nth-of-type(1)  {
          margin-right: -0.5em;
          letter-spacing: 0.33em;
          font-weight: 100;
        }
        &:nth-of-type(2)  {
          letter-spacing: 0.05em;
          color: $color-gray-light;
          font-weight: 700;
        }
      }
    }
}