.header {
  background-color: $color-primary;
}
.header-menu  {
  @extend %container;
  position: relative;
  padding-top: 3 * $gap;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.header-logo  {
  display: flex;
  align-items: center;
  &__img  {
    margin-right: $gap / 2;
    display: block;
  }
  a  {
    text-decoration: none;
    &:visited  {
      color: inherit;
    }
  }
  &__txt  {
    display: block;
    font-size: 1.875rem;
    font-weight: 700;
  }
}
.slider-container  {
  @extend %container;
  overflow: hidden;
  margin-top: 1.5*$gap;
  @include md-min  {
    grid-template-rows: minmax(500px, max-content) 5*$gap;
  }
  @include md-sm  {
    grid-template-rows: minmax(500px, max-content) 4*$gap;
  }
  @include sm  {
    grid-template-rows: minmax(300px, max-content) 3*$gap;
  }
}
.slides  {
  position: relative;
}
.indicators  {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  .indicator  {
    width: 15px;
    height: 15px;
    margin: -9px 3px 0;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 7.5px;
    background-color: #ffffff;
    &.active {
      opacity: 1;
    }
  }
}