.header {
  background-color: $color-primary;
  
}

.header-menu  {
  @extend %container;
  position: relative;
  padding-top: 3 * $gap;

}

.header-logo  {
  display: flex;
  align-items: center;
  &__img  {
    margin-right: $gap / 2;
    display: block;
  }
  &__txt  {
    display: block;
    font-size: 1.875rem;
    font-weight: 700;
  }
}

.header-slider  {
  height: 638px;
}

